<main class="login-container h-full">
    <div class="login-box">
        <h1 class="login-title">ReadShelf</h1>
        <p class="login-subtitle">Acesse sua prateleira de PDFs</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <!--Email-->
            <div class="form-field">
                <label for="email">E-mail</label>
                <input id="email" type="email" formControlName="email" placeholder="seu.email@exemplo.com"
                    [class.invalid]="isFieldInvalid('email')">
                @if (isFieldInvalid('email')) {
                <small class="error-message">{{ getErrorMessage('email') }}</small>
                }
            </div>
            <!--Password-->
            <div class="form-field">
                <label for="password">Senha</label>
                <input id="password" type="password" formControlName="password" placeholder="••••••••"
                    [class.invalid]="isFieldInvalid('password')">
                @if (isFieldInvalid('password')) {
                <small class="error-message">{{ getErrorMessage('password') }}</small>
                }
            </div>
            <!-- Mensagem de Erro da API -->
            @if (apiError) {
            <div class="api-error">
                {{ apiError }}
            </div>
            }
            <button type="submit" class="submit-button" [disabled]="loginForm.invalid">
                Entrar
            </button>

        </form>

        <div class="register-link">
            <p>Não tem uma conta? <a>Registre-se</a></p>
            <!-- (Vamos fazer o registro funcionar no futuro) -->
        </div>
    </div>
</main>